.container{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
}
header{
    height:40px;
    width:100%;
    background-color: grey;
}
footer{
    height:40px;
    width:100%;
    background-color: grey;
}
.box1{
    width:100%;
    height:250px;
    background-color: red;
    flex-shrink: 1;
    flex-grow: 1;
}
.box2{
    width:100%;
    height:250px;
    background-color:greenyellow;
    flex-shrink: 1;
    flex-grow: 1;
}
.box3{
    width:100%;
    height:250px;
    background-color:yellow;
    flex-shrink: 1;
    flex-grow: 1;
}

@media screen and (min-width:482px) and (max-width:768px){
    .container{
        display:flex;
        flex-direction: column;
    }
    .box1{
        width:50%;
        height:300px;
        flex-shrink: 1;
        flex-grow: 1;
        background-color: red;
    }
    .box2{
        width:50%;
        height:300px;
        flex-shrink: 1;
        flex-grow: 1;
        background-color: greenyellow;

    }
    .box3{
        width:50%;
        height:600px;
        margin-left:50%;
        margin-top: -600px;
        background-color:yellow;
        flex-shrink: 1;
        flex-grow: 1;

    }
}

@media screen and (min-width:768px){
    .container{
        display: flex;
        flex-direction: column;
    }
    .box1{
        width:70%;
        height:300px;
        flex-shrink: 1;
        flex-grow: 1;
        background-color: red;
    }
    .box2{
        width:70%;
        height: 300px;
        flex-shrink: 1;
        flex-grow: 1;
        background-color: greenyellow;


    }
    .box3{
        width: 30%;
        height:600px;
        margin-top: -600px;
        background-color:yellow;
        flex-shrink: 1;
        flex-grow: 1;
        margin-left: 70%;

    }
}