header{
    width:100%;
    height:40px;
    background-color: grey;
}
footer{
    width:100%;
    height:40px;
    background-color: grey;
}

.container{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
    
}
.box1{
    width:100%;
    height:180px;
    background-color:green;
    flex-shrink: 1;
    flex-grow: 1;
    margin: auto;

}
.box2{
    width:100%;
    height:100px;
    background-color:darkgreen;
    flex-shrink: 1;
    flex-grow: 1;
    margin: auto;

}
.box3{
    width:100%;
    height:100px;
    background-color:yellow;
    flex-shrink: 1;
    flex-grow: 1;
    margin: auto;

}

@media screen and (min-width:482px) and (max-width:768px){

    .container{
        display: flex;
        flex-direction: column;
    }
    .box1{
        width:100%;
        height:350px;
        background-color: green;
        flex-shrink: 1;
        flex-grow: 1;

    }
    .box2{
        width:50%;
        height:150px;
        background-color:darkgreen;
        flex-shrink: 1;
        flex-grow: 1;
        margin-left: 0px;

    }
    .box3{
        width:50%;
        height:150px;
        background-color:yellow;
        flex-shrink: 1;
        flex-grow: 1;
        margin-left: 50%;
        margin-top:-150px;
    }
}

@media screen and (min-width:768px){
    .container{
        display:flex;
        flex-direction: row;
    }
    .box2{
        width:25%;
        height:300px;
        background-color:darkgreen;
        flex-shrink: 1;
        flex-grow: 1;
        order:1;
    }
    .box1{
        width: 50%;
        height:300px;
        background-color: green;
        flex-shrink: 1;
        flex-grow: 1;
        order:2;

    }
    .box3{
        width:25%;
        height:300px;
        background-color:yellow;
        flex-shrink: 1;
        flex-grow: 1;
        order: 3;
        
    }
}